{% extends "base.html" %}

{% block content %}

<h1>Welcome</h1>

<p><a href="{% url accounts:login %}">Login</a> or <a href="{% url accounts:register %}">register</a>!</p>

<p>A <em>live</em> system is an operating system that does not require a classical installer to use it. It can can book from various types of media, including CDs, USB sticks or via netbooting.</p>

<h2><a href="{% url config:add %}">Get started now</a></h2>

{% endblock %}
