{% extends "base.html" %}

{% block content %}

<h1>Login</h1>

<form method="POST" action="">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Login</button>
</form>

<p>
  Don't have an account?
  <a href="{% url accounts:register %}">Register for a new account</a>.
</p>

{% endblock %}
