{% extends "base.html" %}

{% block content %}

<h1>Confirm logout request</h1>

<p>
  For security reasons, you must confirm your logout request.
</p>

<form method="POST" action="">
{% csrf_token %}
<button type="submit">Click here to logout</button>
</form>

{% endblock %}
