{% extends "base.html" %}

{% block content %}

<h1>Register</h1>

<form method="POST" action="">
{% csrf_token %}
{{ form.as_p }}
<button type="submit">Register</button>
</form>

<p>
  Already have an account?
  <a href="{% url accounts:login %}">Login here</a>.
</p>

{% endblock %}
