{% extends "base.html" %}

{% block content %}

<h1>Add new configuration</h1>

<form class="add_config" action="" method="POST">{% csrf_token %}

{% block add_content %}
<table>
{{ form }}
</table>
{% endblock %}

<input type="hidden" name="{{ step_field }}" value="{{ step0 }}" />
{{ previous_fields|safe }}
<input type="submit" value="{% block next %}Next{% endblock %}">
</form>

<p>Step {{ step }} of {{ step_count }}</p>

{% endblock %}
