{% extends "config/add.html" %}

{% block add_content %}

<h2>Choose image type</h2>

<p>What type of image would you like to build?</p>

{{ form.base }}

<p>
<img src="{% static "img/debian.png" %}" height="50">
<img src="{% static "img/gnome.png" %}" height="50">
<img src="{% static "img/kde.png" %}" height="50">
<img src="{% static "img/xfce.png" %}" height="50">
</p>

{% endblock %}
