{% extends "config/add.html" %}

{% block add_content %}

<h2>Select architecture</h2>

<p>What architecture would you like to build for?</p>

<p>If unsure, select "<em>i386</em>"</p>

{{ form.architecture }}

{% endblock %}
