{% extends "base.html" %}

{% block content %}
<h1>List of configurations</h1>

<p><strong><a href="{% url config:add %}">Add new configuration</a></strong></p>

<table>

{% for config in request.user.configs.all %}
<tr>
 <td><a href="{{ config.get_absolute_url }}">{{ config.name }}</td>
</tr>
{% endfor %}

</table>

{% endblock %}
