<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <title>Debian Live Studio</title>
  <link rel="stylesheet" href="{% static "css/stylesheet.css" %}" type="text/css" />
</head>

<body>

<h1 id="title"><a href="{% url static:welcome %}">Debian Live Studio</a></h1>
<h2 id="subtitle"><a href="{% url static:welcome %}">Live Debian systems!</a></h2>

{% if messages %}
<ul>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}

<div id="body">

  {% if request.user.is_authenticated %}
  <div class="actions" style="float: right">
    <form method="POST" action="{% url accounts:logout %}" style="display: inline">

    {% csrf_token %}
    <a href="{% url config:configs %}">Home</a>
    -
    <button type="submit">Logout</button>
    </form>
  </div>
  {% endif %}

<div id="content">
  {% block content %}{% endblock %}
</div>

<hr />

</div>

<div class="footer">
  <p>
    <a href="http://live.debian.net/">Debian Live Project</a>
    &lt;<a href="mailto:debian-live@lists.debian.org">debian-live@lists.debian.org</a>&gt;
  </p>
</div>

</body>
</html>
